[Unit]
AssertPathExists=/boot/config/plugins/unraid-ttriing/config/config.yml

[Service]
EnvironmentFile=-/etc/default/unraid-ttriing

ExecStart=/usr/bin/unraid-ttriing

Restart=always
RestartSec=5s

CapabilityBoundingSet=
NoNewPrivileges=yes
PrivateUsers=true
PrivateTmp=yes
PrivateDevices=no
DevicePolicy=closed
DeviceAllow=char-usb_device
ProtectSystem=strict
ProtectHome=true
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=
RestrictRealtime=yes
RestrictNamespaces=yes
MemoryDenyWriteExecute=yes
LockPersonality=true
SystemCallArchitectures=native
SystemCallFilter=@system-service

[Install]
WantedBy=default.target
